<h1>StaticPages#home</h1>
<div class="container">
   <h1 class="jumbotron-heading">Welcome</h1>
<div class="container">
 <div class="row">
 <div class="col">
 <h2> Latest News </h2>
 <p> Lorem ipsum dolor sit amet, dicant sanctus similique an vim, quo ea utroque pericula theophrastus, te per omnis definiebas conclusionemque. 
 Ne ipsum paulo eam, mentitum deleniti epicurei ad vis. Ne probo aperiam fabulas vim. 
 Latine commune phaedrum has cu, vix ceteros posidonium id, his at adipisci theophrastus suscipiantur. 
 Id sit choro vituperatoribus. Mea ei posse oporteat. 
 Graeco doctus assentior ex mei, nam id omnis nostrud quaerendum. </p>
 </div>
 <div class="col">
 <h2> Review of the Week </h2>
 <p> Animal dolores disputando at duo, labore graecis pericula ad eos. Pri facete praesent ne. 
 Quando soleat altera et duo, ei vim stet legere vocibus. 
 Tractatos comprehensam vim eu, eos at vero illum dictas. </p>
 </div>
 </div></div>
